html,body
  font-family: "Circular"
  font-size: 10px
  font-weight: 400
  color: $black

h1
  font-family: "Canela"
  font-size: 4.7rem
  @media (max-width: 1180px)
    font-size: 2.6rem

h2
  font-family: "Canela"
  font-size: 3.2rem
  color: $black
  @media (max-width: 800px)
    font-size: 2.4rem
    line-height: 1.3

p
  font-size: 1.9rem
  line-height: 3.5rem
  @media (max-width: 1180px)
    font-size: 1.7rem
    line-height: 2.8rem

.randomSVG
  position: relative
  top: 5px
  left: 5px
  display: inline
  @media (max-width: 1180px)
    display: none