doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='/dist/bundle.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css')
    link(rel='apple-touch-icon', sizes='180x180', href='/favicons/apple-touch-icon.png')
    link(rel='icon', type='image/png', sizes='32x32', href='https://s3.amazonaws.com/harrydry/tysonfury/favicon.png')
    link(rel='icon', type='image/png', sizes='16x16', href='https://s3.amazonaws.com/harrydry/tysonfury/favicon.png')
    meta(name='twitter:site', content='@harrydry')
    meta(property='og:site_name', content='The Marketing Album — 50 Strategies & Case Studies to upgrade your marketing')
    meta(name='twitter:card', content='summary_large_image')
    meta(property='og:image:height', content='543')
    meta(property='og:image:width', content='1000')
    meta(property='og:type', content='website')
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-91909305-8')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-91909305-8');
    block head
      title Good-Marketing | A gallery of the finest marketing techniques used by startups
      meta(property='og:title', content='The Marketing Album — 50 Strategies to upgrade your marketing')
      meta(name='twitter:title', content='The Marketing Album — 50 Strategies to upgrade your marketing')
      meta(property='og:url', content='https://good-marketing.com')
      link(rel='canonical', href='https://good-marketing.com')
      meta(name='description', content=`Learn the tactics used by successful startups to sell their product`)
      meta(property='og:description', content=`Learn the tactics used by successful startups to sell their product`)
      meta(name='twitter:description', content=`Learn the tactics used by successful startups to sell their product`)
      meta(property='og:image', content='https://s3.amazonaws.com/harrydry/tma/tmaMeta.jpg')
      meta(name='twitter:image', content='https://s3.amazonaws.com/harrydry/tma/tmaMeta.jpg')
    body
      block content
  block scripts
    script(src="/dist/bundle.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js")
