mixin front()
  .ios
    .top
      .top__video
        video(src="https://harrydry.s3.amazonaws.com/tombrett/purershores.mp4" loop="loop" autoplay="autoplay" muted="true")
        img.speaker.speakerOn(src="https://harrydry.s3.amazonaws.com/tombrett/on.png", alt="Off")
        img.speaker.speakerOff.speakerNone(src="https://harrydry.s3.amazonaws.com/tombrett/off.png", alt="Off")
    .bottom.bottom__one
      .bottom__inner.bottom__one-inner
        h1 SPRING.INDUSTRIES
        h2.under WRITTEN ON THE SKY FOR ABDUL
      .copyright © COPYRIGHT 2019, SPRING.INDUSTRIES
    .bottom.bottom__two.bottom__none
      .bottom__inner-two
        h3 A VIDEO GAME BY#{" "}
          a(href="https://www.instagram.com/tomhbrett" target="_blank") THOMAS BRETT
          | #[br]
          | RISD MUSEUM 18 OCT - 1 DEC 2019
        h3 CONSTRUCTED FROM 3D SCANS OF LANDSCAPE AND THE ARTIST'S HAND-MADE SCULPTURE. THROUGH NAVIGATION OF THE TERRAIN THE PLAYER EXPLORES NATURE AND MEMORY IN THE AGE OF THE ANTHROPOCENE.
        h3 SCORED BY FRED MACPHERSON AND CAV McCARTHY OF LOW SPIRITS
        h3
          a(href="mailto:contact@spring.industries") CONTACT@SPRING.INDUSTRIES
